@model IEnumerable<ruservice.Models.CardapioItemcs>
<!DOCTYPE html>
<title>@ViewBag.Title RU-SERVICE</title>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Freelancer - Start Bootstrap Theme</title>
	<!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
	<link href="~/Content/bootstrap.min.css" rel="stylesheet">
	<!-- Custom CSS -->
	<link href="~/Content/freelancer.css" rel="stylesheet">
	<!-- Custom Fonts -->
	<link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="~/font-awesome/fonts/fontawesome-webfont.woff" rel="stylesheet" type="text/css"/>
	<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body id="page-top" class="index">
	<!-- Navigation -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header page-scroll">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#page-top">RU-UFMT</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li class="hidden">
						<a href="#page-top"></a>
					</li>
					<li class="page-scroll">
						<a href="#cardapio">Cardapio de Hoje</a>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	<!-- Header -->
	<header>
		<div class="container">
			<div class="row">
				<div class="col-lg-12" >
					<img  class="img-responsive" src="~/img/logo_azul (1).png" alt="">
					<div class="intro-text">
						<span class="name">RU</span>
						<hr class="star-light">
						<span class="skills">REST-Service para atualiação diária do cardápio do RU</span>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Portfolio Grid Section -->
	<section id="cardapio">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2>Cardapio do dia</h2>
					<h1>
						@Model.First().data
					</h1>

					<hr class="star-primary">
				</div>
			</div>
			<div class="container">
				<div class="portfolio-modal">

					<div>

						<table class="table">
							@{string anterior = "almm";}
							@foreach (var item in Model)
							{

								if (anterior != item.periodo)
								{
                                    <tr>
                                        <th>
                                            <h3>
												@Html.DisplayFor(modelItem => item.periodo)
											</h3>

										</th>

									</tr>
									anterior = item.periodo;
								}
							    <tr>

									<td>
										@Html.DisplayFor(modelItem => item.tipo)
									</td>

									<td>
										@Html.DisplayFor(modelItem => item.prato)
									</td>

								</tr>
							}

						</table>

					</div>

				</div>

			</div>
		</div>
	</section>
	<!-- Contact Section -->
	<!----<section id="rest">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2>REST</h2>
					<hr class="star-primary">
					<a class="fa-external-link" >Rest</a>
				</div>
			</div>
			<div class="row">

			</div>
		</div>
	</section>-->
	<footer>
		<div class="footer-below">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						Copyright &copy; ejklock
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- jQuery -->
	<script src="~/Scripts/jquery.js"></script>
	<!-- Bootstrap Core JavaScript -->
	<script src="~/Scripts/bootstrap.min.js"></script>
	<!-- Plugin JavaScript -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
	<script src="~/Scripts/classie.js"></script>
	<script src="~/Scripts/cbpAnimatedHeader.js"></script>
	<!-- Contact Form JavaScript -->
	<script src="~/Scripts/jqBootstrapValidation.js"></script>
	<script src="~/Scripts/contact_me.js"></script>
	<!-- Custom Theme JavaScript -->
	<script src="~/Scripts/freelancer.js"></script>
</body>
</html>